<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InserirCliente</servlet-name>
        <servlet-class>controle.InserirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCliente</servlet-name>
        <servlet-class>controle.ExcluirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCliente</servlet-name>
        <servlet-class>controle.AlterarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirPerfil</servlet-name>
        <servlet-class>controle.InserirPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirMenu</servlet-name>
        <servlet-class>controle.InserirMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarMenu</servlet-name>
        <servlet-class>controle.AlterarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPerfil</servlet-name>
        <servlet-class>controle.AlterarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirMenu</servlet-name>
        <servlet-class>controle.ExcluirMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaLogin</servlet-name>
        <servlet-class>controle.ValidaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirCriptoativos</servlet-name>
        <servlet-class>controle.InserirCriptoativos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCriptoativo</servlet-name>
        <servlet-class>controle.AlterarCriptoativo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirInvestimento</servlet-name>
        <servlet-class>controle.InserirInvestimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarInvestimento</servlet-name>
        <servlet-class>controle.AlterarInvestimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirecionarOp</servlet-name>
        <servlet-class>controle.RedirecionarOp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RealizarOp</servlet-name>
        <servlet-class>controle.RealizarOp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirFuncionario</servlet-name>
        <servlet-class>controle.InserirFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaLoginFuncionario</servlet-name>
        <servlet-class>controle.ValidaLoginFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarCartaoFuncionario</servlet-name>
        <servlet-class>controle.AdicionarCartaoFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirCriptoativosFuncionario</servlet-name>
        <servlet-class>controle.InserirCriptoativosFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirecionarOpFuncionario</servlet-name>
        <servlet-class>controle.RedirecionarOpFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarFuncionario</servlet-name>
        <servlet-class>controle.AlterarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirContrato</servlet-name>
        <servlet-class>controle.InserirContrato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdquirirContrato</servlet-name>
        <servlet-class>controle.AdquirirContrato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirFuncionario</servlet-name>
        <servlet-class>controle.ExcluirFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartsFuncionario</servlet-name>
        <servlet-class>controle.ChartsFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartsCliente</servlet-name>
        <servlet-class>controle.ChartsCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarClienteFunc</servlet-name>
        <servlet-class>controle.AlterarClienteFunc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InserirCliente</servlet-name>
        <url-pattern>/inserir_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCliente</servlet-name>
        <url-pattern>/excluir_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCliente</servlet-name>
        <url-pattern>/alterar_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirPerfil</servlet-name>
        <url-pattern>/inserir_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirMenu</servlet-name>
        <url-pattern>/inserir_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarMenu</servlet-name>
        <url-pattern>/alterar_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPerfil</servlet-name>
        <url-pattern>/alterar_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirMenu</servlet-name>
        <url-pattern>/excluir_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaLogin</servlet-name>
        <url-pattern>/valida_login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirCriptoativos</servlet-name>
        <url-pattern>/inserir_criptoativos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCriptoativo</servlet-name>
        <url-pattern>/alterar_criptoativo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirInvestimento</servlet-name>
        <url-pattern>/inserir_investimento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarInvestimento</servlet-name>
        <url-pattern>/alterar_investimento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirecionarOp</servlet-name>
        <url-pattern>/redirecionar_op.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RealizarOp</servlet-name>
        <url-pattern>/realizar_op.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirFuncionario</servlet-name>
        <url-pattern>/inserir_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaLoginFuncionario</servlet-name>
        <url-pattern>/valida_login_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarCartaoFuncionario</servlet-name>
        <url-pattern>/adicionar_cartao_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirCriptoativosFuncionario</servlet-name>
        <url-pattern>/inserir_criptoativos_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirecionarOpFuncionario</servlet-name>
        <url-pattern>/redirecionar_op_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarFuncionario</servlet-name>
        <url-pattern>/alterar_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirContrato</servlet-name>
        <url-pattern>/inserir_contrato.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdquirirContrato</servlet-name>
        <url-pattern>/adquirir_contrato.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirFuncionario</servlet-name>
        <url-pattern>/excluir_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartsFuncionario</servlet-name>
        <url-pattern>/charts_funcionarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartsCliente</servlet-name>
        <url-pattern>/charts_cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarClienteFunc</servlet-name>
        <url-pattern>/alterar_cliente_funcionario.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            90
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error_page.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
