 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;

 }

@media (max-width: 600px) {
    
    .table thead {
        display: none;
    }
	
	.table tfoot {
        display: none;
    }
    
    
    .table,
    .table tbody, 
    .table tr,
    .table td{
        width: 100%;
        display: block;
    }
    
    .table-responsive tr {
        margin-bottom: 15px;
    }
    
    .table td {
        text-align: center;
        position: relative;
        padding-left: 50%; 
    }
    
    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: -100px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
    
}
 #more{
        display: none;
    }
    
    .cpfresponsavel{
	display: none;
}



